 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .flashes h5 {
    line-height: 2;
    position: absolute;
    bottom: 40px;
    right: 20px;
    border: 2px solid lime;
    border-radius: 5px;
    padding: 10px;
   }   

  main {
    flex: 1 0 auto;
  }

  .register-wrapper{
    margin: 20px;
  }

  .row {
      margin: 0;
  }

  .modal-overlay {
      display: none;
  }