 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .register-wrapper{
    margin: 20px;
  }

  .row {
      margin: 0;
  }

  .modal-overlay {
      display: none;
  }